* {
  /* font-family: 'Grotesk Regular'; */
  font-family: 'AllianceNo2 Regular';
  color: white;
}

a {
  color: #74797b;
}

/* .col {
  border: 1px solid red;
}
.row {
  border: 1px solid green;
} */

body {
  background-color: #22242f;
}

#bookInfoDiv {
  border: 2px solid #c0c0c0;
}

.bold {
  font-family: 'AllianceNo2 Bold';
}

.genreBox {
  font-size: 0.8rem;
  font-weight: bold;
  color: #22242f;
}

.goodGenre {
  background-color: #18b17c;
}

.badGenre {
  background-color: #681d1d;
  color: #22242f;
}

.normalGenre {
  color: #c0c0c0;
}

.border{ 
  border: 3px solid #c0c0c0;
}

.selectedBackground {
  color: #22242f;
  background-color: #c0c0c0;
}

.unselectedBackground {
  background-color: #22242f;
}

.bookTitle {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 90%;
}

.bookSubInfo {
  font-size: 0.8rem;
}

.bookPagesAndReview {
  font-weight: bolder;
  font-size: 1.2rem;
}

.otherEditionYearSubText {
  font-size: 0.7rem;
}

#searchButton, #clearButton {
  color: #c0c0c0;
  background-color: #22242f;
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
}


.skeleton {
  opacity: 0.6;
  animation: skeleton-loading 0.56s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #c0c0c0;
  }
  100% {
    background-color: #74797b;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: 'AllianceNo2 Regular';
  src: url(../fonts/AllianceNo2-Medium.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AllianceNo2 Bold';
  src: url(../fonts/AllianceNo2-Bold.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}